mat-grid-list
    display: flex
    align-items: center
    mat-form-field
        padding: 20px

.btn
    margin: 5px

.spinner
    position: fixed
    bottom: 0
    right: 0

.info-busqueda
    width: 50%
    height: 50%

.row-resolucion
    display: flex

.card-resolucion
    margin: auto
    width: 50%
    align: center

.title
    color: black
    font-weight: bold

.aling-label
    padding: inherit

.not-found-content
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.not-found-img
    height: 250px