<h1>Items de Canastilla</h1> 
<button mat-raised-button color="primary" (click)="showAdd()" class="btn">
    Agregar
</button>
<app-table *ngIf="canastillasList$ | async as canastillasList" [displayedColumns]="columnas" [hasUpdate]="true"
    (update)="showUpdate($event)" [dataSource]="canastillasList"></app-table>
<div *ngIf="isLoading">
    <mat-spinner class="spinner"></mat-spinner>
</div>
<div *ngIf="empty">
    <div class="not-found-content">
        <img src="../../../../assets/img/not-found.svg" class="not-found-img" />
        <h1>No se encontraron elementos</h1>
    </div>
</div>