<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<connectionStrings>
		<add name="estacion" connectionString="Server=LAGACELA-EDS\SQLEXPRESS;Database=Ventas; User Id=sa;Password=Sa123456789; Connect Timeout=180;" />
		<add name="Facturacion" connectionString="Server=LAGACELA-EDS\SQLEXPRESS;Database=Facturacion_Electronica; User Id=sa;Password=Sa123456789; Connect Timeout=180;" />
	</connectionStrings>
	<appSettings>
		<add key="EnvioASilog" value="true"/>
		<add key="UrlSilog" value="https://silogcotaxierp.serviciosproductivos.com.co/api/inventario/factura.php"/>
		<add key="EnvioAProsoft" value="false"/>
		<add key="UrlProsoft" value="url prosoft"/>
		<add key="EnvioInformacion" value="true"/>
		<add key="url" value="https://cotaxi.api.sigessoluciones.com"/>
		<add key="user" value="890200218"/>
		<add key="password" value="0218"/>
		<add key="estacionFuente" value="61ca7e1e-bfca-42ba-a58d-f71cbf7f1af2"/>
		<add key="CaracteresPorPagina" value="40"/>
		<add key="ImpresionPDA" value="false"/>
		<add key="Direccion" value="Calle 17 #19-62 S. Francisco B/manga"/>
		<add key="Linea1" value="Impreso Por: COTAXI"/>
		<add key="Linea2" value="RESPONSABLE DE IVA"/>
		<add key="Linea3" value=""/>
		<add key="Linea4" value=""/>
		<add key="NIT" value="890200218"/>
		<add key="Nombre" value="EDS LA GACELA"/>
		<add key="Razon" value="COTAXI"/>
		<add key="Telefono" value="Tel.: 6076712367"/>
		<add key="vecesPermitidasImpresion" value="1"/>
		<add key="ImpresionAutomatica" value="false"/>
		<add key="impresionFormaDePagoOrdenDespacho" value="true"/>
		<add key="CARA 1" value="POS1" />
		<add key="CARA 2" value="POS1" />
		<add key="CARA 3" value="POS1" />
		<add key="CARA 4" value="POS1" />
		<add key="CARA 5" value="POS2" />
		<add key="CARA 6" value="POS2" />
		<add key="CARA 7" value="POS2" />
		<add key="CARA 8" value="POS2" />
		<add key="CARA 9" value="POS3" />
		<add key="CARA 10" value="POS3" />
		<add key="CARA 11" value="POS3" />
		<add key="CARA 12" value="POS3" />
		<add key="IMPRESORA" value="POS2"/>
		<add key="IMPRESORACanastilla" value="POS2"/>
		<add key="codigoefectivo" value="1"/>
		<add key="codigocredito" value="3"/>
		<add key="codigocorriente" value="11GASOLINA"/>
		<add key="codigoacpm" value="12ACPM"/>
		<add key="codigoextra" value="300"/>
		<add key="codigogas" value="400"/>
		<add key="EnviarFacturasEfevtivo" value="true"/>
		<add key="GeneraFacturaElectronica" value="true"/>
		<add key="ValidarMillonesEnFactura" value="true"/>
		<add key="ArchivoMovimientoContable" value="C:\Users\EDS LA GACELA\Downloads\\"/>
		<add key="vecesImpresionCanastilla" value="2"/>
		<add key="Visa" value="1"/>
		<add key="MasterCard" value="9"/>
		<add key="Dinners" value="2"/>
		<add key="Amex" value="14"/>
		<add key="Puntos Colombia" value="15"/>
		<add key="Sodexo Quantum" value="16"/>
		<add key="Vales" value="17"/>
		<add key="Bonos Sodexo" value="18"/>
		<add key="Consumo Interno" value="21"/>
		<add key="Prepago" value="21"/>
		<add key="Calibracion" value="21"/>
		<add key="codigovoucher" value="2"/>
	</appSettings>
</configuration>
