<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <connectionStrings>
    <add name="estacion" connectionString="Server=LAGACELA-EDS\SQLEXPRESS;Database=Ventas; User Id=sa;Password=Sa123456789; Connect Timeout=180;" />
    <add name="Facturacion" connectionString="Server=LAGACELA-EDS\SQLEXPRESS;Database=Facturacion_Electronica; User Id=sa;Password=Sa123456789; Connect Timeout=180;" />
  </connectionStrings>
  
  <appSettings>
    <!-- Dataico API -->
    <add key="dataico_token" value="7be2a493120e4c1cee67dbd8f424a39d"/>
    <add key="dataico_max_requests_per_minute" value="25"/>
    
    <!-- Siesa API -->
    <add key="urlsiesa" value="https://servicios.siesacloud.com"/>
    <add key="idsistema" value="179"/>
    <add key="idcompania" value="8922"/>
    <add key="iddocumento" value="206116"/>
    <add key="iddocumentocliente" value="204387"/>
    <add key="key" value="d8eb35e39daf2ce8890611fcfc5aad91"/>
    <add key="token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6ImI2YzNlZjRhLWMyNmItNDE4ZS05MmEyLTYxZTQyZGE3MDBlOCIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcHJpbWFyeXNpZCI6ImJiMmU1ZDc4LTMwOWItNGNjNC04YmEwLTUxNTVkM2NkMGM4YiJ9.6JhUrZq9CY3k9NuHGQG6WEDGIE8hQOSsNNjb71kSV9g"/>
    
    <!-- Configuración Canastilla CON IVA -->
    <add key="consecutivoautoreguladocanastillaconiva" value="0"/>
    <add key="centrooperacionesdocuemntocanastillaconiva" value="101"/>
    <add key="idfecanastillaconiva" value="1101"/>
    <add key="sucursalcanastillaconiva" value="001"/>
    <add key="auxiliarcanastillaconiva" value="42109003"/>
    
    <!-- Configuración Canastilla SIN IVA -->
    <add key="consecutivoautoreguladocanastillasiniva" value="0"/>
    <add key="centrooperacionesdocuemntocanastillasiniva" value="101"/>
    <add key="idfecanastillasiniva" value="1101"/>
    <add key="sucursalcanastillasiniva" value="001"/>
    <add key="auxiliarcanastillasiniva" value="42109003"/>
    
    <!-- Auxiliares para Combustibles -->
    <add key="auxiliarcorriente" value="41350501"/>
    <add key="auxiliarextra" value="41350502"/>
    <add key="auxiliardiesel" value="41350503"/>
    <add key="auxiliaracpm" value="41350503"/>
    <add key="auxiliargnv" value="41350504"/>
    <add key="auxiliarcombustible" value="41350501"/>
    
    <!-- Cuentas de egreso por forma de pago -->
    <add key="auxiliarefectivo" value="11050102"/>
    <add key="auxiliardatafono" value="11100503"/>
    <add key="auxiliartransferencia" value="11100603"/>
    
    <!-- Auxiliar CXC para canastilla -->
    <add key="auxiliarcxc" value="13050501"/>
        <!-- Configuraciones generales -->
    <add key="documentofactura" value="FEJ"/>
    <add key="documentorecibo" value="RCJ"/>
    <add key="documentocruce" value="123852"/>
    <add key="consecutivoautoregulado" value="0"/>
    <add key="sucursal" value="001"/>
    <add key="idfe" value="1101"/>
    <add key="vendedor" value="900522263"/>
    
    <!-- Centro de operaciones y movimientos principales -->
    <add key="centrooperaciones" value="101"/>
    <add key="movimiento" value="101"/>
    <add key="centrocosto" value=""/>
    <add key="unidadnegocio" value="03"/>
    
    <!-- CXC -->
    <add key="centrooperacionescxc" value="101"/>
    <add key="movimientocxc" value="101"/>
    <add key="centrocostocxc" value=""/>
    <add key="unidadnegociocxc" value="99"/>
    
    <!-- Caja -->
    <add key="centrooperacionescaja" value="101"/>
    <add key="movimientocaja" value="101"/>
    <add key="centrocostocaja" value=""/>
    <add key="unidadnegociocaja" value="99"/>
    <add key="caja" value="101"/>
    
    <!-- Contable Otros -->
    <add key="centrooperacionescontableotros" value="101"/>
    <add key="movimientocontableotros" value="101"/>
    <add key="unidadnegociocontableotros" value="03"/>
    <add key="centrocostocontableotros" value=""/>
    
    <!-- Otros -->
    <add key="centrooperacionesotros" value="101"/>
    <add key="movimientootros" value="099"/>
    <add key="unidadnegociootros" value=""/>
    <add key="idfeotros" value="1101"/>
    <add key="centrocostootros" value=""/>
    <add key="cajaotros" value="101"/>
    
    <!-- Descuentos -->
    <add key="centrooperacionescontabledescuento" value="101"/>
    <add key="movimientocontabledescuento" value="101"/>
    <add key="unidadnegociodescuento" value="03"/>
    <add key="centrocostocontabledescuento" value=""/>
    <add key="idfedescuento" value="1101"/>
    <add key="auxiliardescuento" value="58904001"/>
    
    <!-- Documento -->
    <add key="centrooperacionesdocuemnto" value="101"/>
  </appSettings>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" 
              fileName="${basedir}/logs/DataicoToSiesa_${shortdate}.log"
              layout="${longdate} ${level} ${message} ${exception:format=tostring}" />
      <target name="console" xsi:type="Console" 
              layout="${time} [${level}] ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
      <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
  </nlog>
</configuration>
